{% extends "template.html" %}
{% block conteudo %}
<table class="table table-striped table-responsive table-bordered">
    <link rel="stylesheet" href="style.css">
    <thead class="thead-default">
    <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Console</th>
    </tr>
    </thead>
    <tbody>
    {% for jogo in jogos %}
    <tr>
        <td>{{ jogo.nome }}</td>
        <td>{{ jogo.categoria }}</td>
        <td>{{ jogo.console }}</td>
        <td>
            <a href="{{ url_for('editar', id=jogo.id) }}">
                <img src="https://cdn-icons-png.flaticon.com/128/10336/10336582.png" alt="Editar" width="20" height="20">
            </a>
            <a href="{{ url_for('deletar', id=jogo.id) }}">
                <img src="https://cdn-icons-png.flaticon.com/128/9790/9790368.png" alt="Delete" width="20" height="20">
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
